
body{
    background-color: #F2F2F5FF;
}

.title_h1{
    font-size:45px ;  /*字体大小*/
    text-align: center;  /*文本对齐方式*/

}

.title_h4{
    font-size:25px ;
    text-align: center;
}

.button{
    margin-bottom: 100px;
    font-size:25px;
}


