/* 文心大模型悬停样式 */
.wenxinBigModel_gzj:hover{
	border-radius: 10%;
	background-color: #faf9fd;
	cursor: pointer;
}
/* 文心大模型工具版悬停样式 */
.wenxinBigModelTool_gzj:hover{
	border-radius: 10%;
	cursor: pointer;
	background-color: #faf9fd;
}
/* 智能体广场悬停样式 */
.intelligentPlaza_gzj:hover{
	cursor: pointer;
	border-radius: 10%;
	background-color: #faf9fd;
}

/* 垃圾箱悬停样式 */
.trashBox_gzj:hover{
	border-radius: 10%;
	background-color: #003aae;
	cursor: pointer;
}