html,
body {
	height: 100%;
	overflow: hidden;
	/* 禁止滚动 */
}

/* 设置总体div样式 */
#dialogHistory_gzj {
	background-image: linear-gradient(to bottom, #f0edf7, #e5e9f6); 
	width: 260px;
	height: 100%;
}

/* 文心大模型样式 */
#wenxinBigModel_gzj {
	padding-bottom: 28px;
	width: 260px;
	height: 30px;
	border-radius: 30px;
}
#wenxinBigModel_gzj img {
	padding-top: 12px;
	padding-left: 12px;
	width: 30px;
}
#wenxinBigModel_gzj p {
	vertical-align: 10px;
	display: inline-block;
	padding-left: 8px;
	font-size: 17px;
	font-weight: bold;
}

/* 文心大模型工具版样式 */
#wenxinBigModelTool_gzj {
	margin-top: 6px;
	width: 260px;
	height: 48px;
	border-radius: 30px;
}
#wenxinBigModelTool_gzj img {
	padding-top: 9px;
	padding-left: 12px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
}
#wenxinBigModelTool_gzj text {
	padding-left: 9px;
	text-align: center;
	vertical-align: bottom;
	font-size: 17px;
}

/* 智能体广场样式 */
#intelligentPlaza_gzj {
	margin-top: 6px;
	width: 260px;
	height: 48px;
	border-radius: 30px;
}

#intelligentPlaza_gzj img {
	padding-top: 9px;
	padding-left: 14px;
	width: 25px;
	text-align: center;
	vertical-align: middle;
}

#intelligentPlaza_gzj text {
	padding-left: 9px;
	text-align: center;
	vertical-align: bottom;
	font-size: 17px;
	font-weight: bold;
}

/* 搜索框样式 */
#searchBox_gzj {
	margin-top: 6px;
	width: 260px;
	height: 48px;
	border-radius: 30px;
}

#searchBox_gzj input {
	color: #919191;
	border-left: 8px;
	padding-left: 15px;
	height: 28px;
	margin-top: 3px;
	vertical-align: middle;
	margin-left: 15px;
	border-radius: 30px;
	background-color: #e4e2f1;
}
#subSearchBox_gzj {
	width: 23px;
	text-align: center;
	vertical-align: middle;
	margin-top: 8px;
	background-color: gainsboro;
	border-radius: 100%;
}
#trashBG_gzj{
	display: inline-block;
	border-radius: 100%;
	background-color: gainsboro;
	width: 30px;
	border: 1px dashed black;
	vertical-align: middle;
}
#trashBox_gzj {
	border-radius: 100%;
	width: 20px;
	/* text-align: center; */
	padding-top: 4px;
	padding-left: 6px;
	/* vertical-align: 0px; */
}

/* 对话历史框样式 */
#historicalDialog_gzj {
	position: absolute;
	top: 225px;
	bottom: 100px;
	margin-top: 6px;
	width: 260px;
	border-radius: 30px;
}

#historicalDialog_gzj p{
	text-align: center;
	color: #919191;
}

/* 开通会员样式 */
#openPremium_gzj {
	position: absolute;
	bottom: 0px;
	margin-top: 6px;
	width: 260px;
	height: 90px;
	border-top: 1px dashed black;
}
#openPremium_gzj img {
	padding-top: 8px;
	vertical-align: middle;
	width: 260px;
	height: 75px;
}

.justify-content-start text{
	padding-left: 10px;
}
.justify-content-start p{
	padding-left: 10px;
}

.btn{
	margin-left: 10px;
}