.left_czw {
    float: left;
    width: 50px;
    height: 740px;
    background-color: lightskyblue;
	overflow: hidden;
	/* 禁止滚动 */
}
i{
	display: block;
}
#wenxinBigModel_czw img{
	padding-top: 12px;
	padding-left: 10px;
	width: 50px;
	height: 50px;
}

.right_czw {
    background-color: lightsteelblue;
    margin-left: 60px;
    height: 740px;
}

.iconup_czw {
    margin-bottom: 10px;
}

.icondown1_czw {
    margin-top: 250px;
}

.icondown2_czw {
    margin-top: 10px;
}
.brand{
	font-size: 10px;
	padding-left: 10px;
}

.container-fluid{
	padding-top: 24px;
}

.chart{
	height: 7vh;
}

.label{
	font-size: 10px;
}
 .bi{
	 font-size: 23px;
 }
 
 .fixed-bottom{
	 width: 4%;
 }
 .fixed-bottom i{
	 font-size: 30px;
 }
 .fixed-bottom lable{
 	 font-size: 15px;
 }