body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 隐藏登录和微信登录表单 */
#login-form,
#wechat-form {
    display: none;
}

/* 表单容器样式 */
.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* 按钮样式 */
button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* 输入框样式 */
input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    /* Adjust width to account for padding */
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.form-container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    /* 设置一个最大宽度，可根据实际需要调整 */
    margin: auto;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}